<extend name="Public:header"/>
<block name="content">
    <form action="{:U()}" method="post" class="form">
        <div class="form-group">
            <label>账号</label>
            <input type="text" class="form-control" name="username"/>
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <div class="form-group">
            <label>姓名</label>
            <input type="text" class="form-control" name="name"/>
        </div>
        <div class="form-group">
            <label>类型</label>
            <div class="input-group">
                <label>
                <input type="radio" name="is_super" value="0" checked="checked">普通用户</label>
            </div>
            <div class="input-group">
                <label>
                <input type="radio" name="is_super" value="1">管理员</label>
            </div>
            <div class="input-group">
                <label>
                <input type="radio" name="is_super" value="2">超级管理员</label>
            </div>
        </div>
        <input type="submit" value="添加" class="btn btn-success"/>
    </form>
</block>
<block name="bread">
    <li><a href="{:U('Index/index')}">首页</a></li>
    <li class="active">添加用户</li>
</block>