<extend name="Public:header"/>
<block name="content">
    <form action="{:U('edit',['id'=>$info['id']])}" method="post" class="form">
        <div class="form-group">
            <label>分类名</label>
            <input type="text" class="form-control" name="name" value="{$info['name']}"/>
        </div>
        <div class="form-group">
            <label>分类描述</label>
            <input type="text" class="form-control" name="desc" value="{$info['desc']}"/>
            <input type="hidden" name="id" value="{$info.id}">
        </div>
        <input type="submit" value="编辑" class="btn btn-success"/>
    </form>
</block>
<block name="bread">
    <li><a href="{:U('Index/index')}">首页</a></li>
    <li class="active">编辑分类</li>
</block>