<extend name="Public:header"/>


<block name="content">
    <table class="table table-condensed table-hover table-responsive table-bordered">
        <thead>
        <tr>
            <td>编号</td>
            <td>分类名称</td>
            <td>分类描述</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="cateList" id="cate">
            <tr>
                <td>{$cate.id}</td>
                <td>
                    <a href="{:U('Cate/api',['cid'=>$cate['id']])}">{$cate.name}</a>
                </td>
                <td>{$cate.desc}</td>
                <td>{:date('Y-m-d H:i:s',$cate['create_time'])}</td>
                <td>
                    <a href="{:U('edit',['id'=>$cate['id']])}">编辑</a>
                    <a href="{:U('remove',['id'=>$cate['id']])}">删除</a>
                </td>
            </tr>
        </volist>

        </tbody>
    </table>

</block>