<extend name="Public:header"/>
<block name="content">
    <form action="{:U()}" method="post" class="form">
        <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control" name="username"/>
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <input type="submit" value="登录" class="btn btn-success"/>
    </form>
</block>
<block name="bread">
    <li><a href="{:U('Index/index')}">首页</a></li>
    <li class="active">用户登录</li>
</block>