<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  # /Home/Index/index   index.php/Home/Index/index  Apache Nginx

  RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
</IfModule>